@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;700&display=swap');
        
html{
    scroll-behavior: smooth;
}

body{
    /* font-family: 'Hind', sans-serif; */
    font-family: 'Inter', sans-serif;
    background-image: url(/assets/img/background-dark.png);
    background-size: cover;
    
    
}

footer, .nav-aside{
    height: 60px;
}

a:visited{
    color: #2a4f9d;
}


.nav-item a{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.nav-item a:hover{
    color: #888
}

.title{
    color: #2a4f9d;
}

.link-intro, .link-intro:hover, .link-intro:link{
    text-decoration: none;
    background-color: rgba(22, 20, 21, 0.8);
}

.link-intro:visited{
    color: white;
}

.skill-card{
    border: 1px solid #2a4f9d;
    border-radius: 10px;
    width: 300px;
    height: 450px;
}

#explore-icon{
    color: #2a4f9d;
}

#skill-card-front{
    background-image: url(/assets/img/front_card_bg.png);
}

/* width */
::-webkit-scrollbar {
width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
